.modalSize {
  width: 600px;
  overflow: hidden;
}

.title-header {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-header .list-group li.list-group-item {
  border: none !important;
  padding: 0px 10px !important;
  color: var(--text-color-light);
  cursor: pointer;
  font-weight: 300;
}

.title-header .list-group li.list-group-item.active {
  font-weight: 400;
  color: var(--text-color-dark) !important;
  background: transparent !important;
}

.title-header .list-group li:not(:last-child) {
  border-right: 1px solid var(--border-color-light) !important;
}

.signin-content {
  margin-top: 100px;
}

.signin-content .msg-wrapper {
  position: relative;
}

.signin-content .msg-wrapper input, .signin-content .msg-wrapper input:focus {
  font-weight: 300;
  font-size: 14px;
  padding: 0px 15px;
  width: 200px;
  height: 30px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e2d9d9;
  border-radius: 8px;
}

.signin-content .msg-wrapper .msg-valid {
  color: #700;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 20px;
  top: 40px;
}

.signin-content .title-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #4e4d4d;
  font-size: 13px;
  text-align: center;
  padding-right: 40px;
}

.signin-content .button-enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
}

.signin-content .button-enter button {
  font-size: 12px;
  color: white;
  border-radius: 7px;
  border: none;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #CA0204;
  background-color: #CA0204;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 28px;
}

.signin-content .button-enter button:hover {
  border: 1px solid #CA0204;
  background-color: white;
  color: #CA0204;
}

.signin-content .button-wrapper {
  margin-top: 100px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin-content .button-wrapper button {
  font-size: 24px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #FCD6D6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signin-content .button-wrapper button:hover {
  background-color: #ec5959;
  color: white;
}

.signup-content {
  padding: 0px 60px;
  margin-top: 50px;
}

.signup-content .userinfo-1 {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-color-light);
}

.signup-content .userinfo-2 {
  padding: 25px 0px;
  border-bottom: 1px solid var(--border-color-light);
}

.signup-content .userinfo-3 {
  padding: 25px 0px;
}

.signup-content .dropdown-urls {
  padding: 20px 0px;
  border-top: 1px solid var(--border-color-light);
}

.signup-content .dropdown-urls .caption {
  padding-bottom: 50px;
}

.signup-content .dropdown-urls .caption .part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  color: #8C8C8C;
  font-weight: 400;
}

.signup-content .dropdown-urls .caption .part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.signup-content .footer {
  margin-top: 40px;
}

.signup-content .footer .layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-content .footer .layer .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.signup-content .footer .layer .btn-wrapper .btn-entire {
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 122px;
  height: 33px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #FCD6D6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signup-content .footer .layer .btn-wrapper .btn-entire:hover {
  background-color: #eb5f5f;
  color: white;
}

.signup-content .footer .footer-caption {
  text-align: center;
  color: #CD1918;
  font-size: 10px;
}

.signup-content .footer .btn-winning {
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 33px;
  border-radius: 5px;
  background-color: #CA0302;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  border: none;
}

.signup-content .footer .btn-winning:hover {
  border: 1px solid #CA0302;
  background-color: white;
  color: red;
}

.signup-content .footer .short-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #BABABB;
  font-size: 14px;
}

.signup-content input, .signup-content input:focus {
  font-size: 12px;
  padding: 0px 15px;
  width: 210px;
  height: 30px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e2d9d9;
  border-radius: 8px;
}

.signup-content ::-webkit-input-placeholder {
  opacity: 0.5;
  /* Firefox */
}

.signup-content :-ms-input-placeholder {
  opacity: 0.5;
  /* Firefox */
}

.signup-content ::-ms-input-placeholder {
  opacity: 0.5;
  /* Firefox */
}

.signup-content ::placeholder {
  opacity: 0.5;
  /* Firefox */
}

.signup-content .title-label2 {
  color: #4e4d4d;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.signup-content .row:not(:last-child) {
  margin-bottom: 15px;
}
/*# sourceMappingURL=LoginModal.css.map */