.bidders-layout {
    .title {
        font-weight: 300 !important;
    }
    li {
        height: 100px;
        padding: 5px;
        border: 1px solid #a19f9f;

        * span {
            display: inline-block;
        }

        .avatar {
            width: 75px;
            height: 100%;
            margin-right: 20px;
            object-fit: cover;
        }

        &.active {
            box-shadow: 0px 9px 17px 3px var(--text-color-light);
            border: 1px solid var(--text-color-dark);
        }

        .bid-count {
            margin-left: auto;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
        }

        .media-body {
            flex: 1;
            margin: 5px 0;
        }

        .m-2 {
            margin: 0.5rem;
        }

        .recent-win * {
            font-weight: 300 !important;
        }
    }
}