.navbar-center {
    margin-left: 50px;
    margin-right: auto;
}
.header-navItem {
    margin-left: 15px; 
    margin-right: 15px; 
}
.navbar-nav {
    a:hover {
        color: var(--primary-color) !important;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}
.logo {
    width: 120px
}

.navbar-auction {
    padding-top: 20px !important;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        a {
            margin-left: 0 !important;
            margin-right: 0 !important;
            text-align: end;
            padding-right: 10px;
        }
    }
    .navbar-auction {
        padding-top: 0px !important;
    }
    .logo {
        width: 80px
    }
}