.auction-view-home-container {
    .top-row {
        padding: 20px 0;
        height: 350px;

        .main-product-view {
            margin: 15px 0 !important;
            height: 100%;
            padding-left: 25px;

            img {
                width: 100%;
                height: 100%;
                padding: 20px;
                object-fit: cover;
            }

        }

        .main-product-detail {
            padding: 0 35px;
        }
    }

    .bottom-row {
        padding: 10px 0;
        height: 100px;
        align-items: center;
        .carosuel-item {
            width: 0px;
            height: 100%;

            img {
                height: 80px;
                width: 160px;
                width: auto;
                object-fit: cover;
            }
        }
    }

    .social-row {
        .social-wrapper {
            margin-left: auto;
            width: fit-content;
            margin-right: 50px;
        }
    }



}